.DS_Store
__pycache__
gonzales_eos/*
scvh/eos_adam/*
cms/coolTLusty_adam/*
figs/*
coolTlust_tables_new/*
*.f
water_eos
water_eos2
water_eos3
water_eos4
water_eos5
water_table.txt
water_table_new.txt
cd/*ice_rock*
cd/*aqua_ppv2*
cd/*aqua_mlcp_ppv2*
methane_ammonia/*