.DS_Store
__pycache__
gonzales_eos/*
scvh/eos_adam/*
cd/cd_aqua_smooth_pt.npz
cd/cd_aqua_smooth_rhot.npz
cd/cd_aqua_smooth_sp.npz
cd/cd_aqua_smooth_srho.npz
cd/cd_aqua_smooth2_sp.npz
cd/cd_aqua_smooth2_srho.npz
cms/coolTLusty_adam/*
figs/*
coolTlust_tables_new/*
*.f
water_eos
water_eos2
water_eos3
water_eos4
water_eos5
water_table.txt
cd/*ice_rock*
cd/*aqua_ppv2*
cms/*aqua_ppv2*
cd/*aqua_mlcp_ppv2*
cms/*aqua_mlcp_ppv2*
methane_ammonia/*
FPEOS/*
coolTlusty_tables_brianna/*